{% extends "base.html" %}
{% block title %}Projects{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
  <h1>Projects</h1>
  <a class="btn btn-primary" href="{{ url_for('projects.create_project') }}">
    + New Project
  </a>
  <a class="btn btn-sm btn-info"
   href="{{ url_for('project_stats.stats', project_number=project.Project_Number) }}">
    Stats
  </a>
  <a class="btn btn-sm btn-secondary"
    href="{{ url_for('milestones.list_milestones', project_number=project.Project_Number) }}">
    Milestones
  </a>
</div>

{% if projects %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Project #</th>
        <th>Department</th>
        <th>Manager</th>
        <th>Budget</th>
        <th>Start</th>
        <th>End</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects %}
      <tr>
        <td>{{ project.Project_Number }}</td>
        <td>
          <a class="btn btn-sm btn-info"
            href="{{ url_for('project_stats.stats', project_number=project.Project_Number) }}">
            Stats
          </a>

          <a class="btn btn-sm btn-secondary"
            href="{{ url_for('milestones.list_milestones', project_number=project.Project_Number) }}">
            Milestones
          </a>
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
{% else %}
  <p>No projects yet.</p>
{% endif %}
{% endblock %}
